<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFC-ODAVS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    {% csrf_token %}
    <div class="container" style="padding:15px; 0px;">
        <div class="row" style="padding:15px; 0px;">
            <div class="col text-center">
                <button id="scanButton" class="btn btn-primary">Scan NFC</button>
            </div>
        </div>
        <div id="output" class="output">
            <div id="content"></div>
            <div id="status"></div>
            <pre id="log"></pre>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script>
        var ChromeSamples = {
            log: function () {
                var line = Array.prototype.slice.call(arguments).map(function (argument) {
                    return typeof argument === 'string' ? argument : JSON.stringify(argument);
                }).join(' ');

                document.querySelector('#log').textContent += line + '\n';
            },

            clearLog: function () {
                document.querySelector('#log').textContent = '';
            },

            setStatus: function (status) {
                document.querySelector('#status').textContent = status;
            },

            setContent: function (newContent) {
                var content = document.querySelector('#content');
                while (content.hasChildNodes()) {
                    content.removeChild(content.lastChild);
                }
                content.appendChild(newContent);
            }
        };
    </script>
    <script>
        log = ChromeSamples.log;

        if (!("NDEFReader" in window))
            ChromeSamples.setStatus(
                "Web NFC is not available.\n" +
                'Please make sure the "Experimental Web Platform features" flag is enabled on Android.'
            );
    </script>
    <script>
        var code = "92651"
        scanButton.addEventListener("click", async () => {
            log("User clicked scan button");

            try {
                const ndef = new NDEFReader();
                await ndef.scan();
                log("> Scan started");

                ndef.addEventListener("readingerror", () => {
                    log("Argh! Cannot read data from the NFC tag. Try another one?");
                });

                ndef.addEventListener("reading", ({ message, serialNumber }) => {
                    log(`> Serial Number: ${serialNumber}`);
                    log(`> Records: (${message.records.length})`);
                    var url = "../get/" + serialNumber
                    $.get(
                        url,
                        function (data) {
                            alert('page content: ' + data);
                        }
                    );
                });
            } catch (error) {
                log("Argh! " + error);
            } finally {
                if (code == "92651")
                    code = "92624"
                else
                    code = "92651"

                var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                var url = "http://" + window.location.host + "/user_detail/1/"
                var sendInfo = {
                    "id_tag": code,
                    "user_detail": url
                };
                $.ajax({
                    url: "/nfcreader/?format=json",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    headers: { "X-CSRFToken": $crf_token },
                    data: JSON.stringify(sendInfo),
                    success: function (response) {
                        console.log(response);
                        log(response);
                        $.get(
                            "../get/1",
                            function (data) {
                                console.log(data);
                                log("tag: " + code);
                                log("");
                            }
                        );
                    },
                    fail: function () {
                        console.log("fail");
                    }
                });
            }
        });
    </script>
</body>
</html>
